* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #A7C7E7 url(imgs/img-background-2.jpg) no-repeat scroll center center / cover;
    height: 100vh;
}

main, h2, footer{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container {
    max-width: 800px;
}

main {
    background-color: #00000061;
}

form {
    width: 100vw;
    max-width: 40rem;
}

button {
    background-color: #A7C7E7 !important;
    font-weight: bold !important;
}
button:hover {
    transform: scale(1.1);
}

.sessaoRelatorio {
    background-color: #000000a2;
    display: none;
}

::selection {
    background-color: #A7C7E7 !important;
}
